body {font-family: Verdana;
 }
 h2 {color: brown;
    text-transform: capitalize;}
    a:link, a:visited {
        background-color: steelblue;
        color: snow;
        border: solid;
        padding: 14px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;}

        a:hover, a:active {background-color: snow;
            color: steelblue;
            border: double;
            border-color: steelblue;
            padding: 14px 14px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }