h1 {color: brown;
    text-transform: uppercase;
}
div {white-space: wrap;
    width: 500px;
    height: 150px;
    border: 1px solid #000000;
    background: #CCCCCC;
}

p 
  {font-size: 20px;
   text-align: justify;
   padding: 4px;
  }